@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Message"]</h1>

    <div class="bodtext">
        <h6> Рекла́ма  — направление в маркетинговых коммуникациях, в рамках которого производится распространение информации для привлечения внимания к объекту рекламирования с целью формирования или поддержания интереса к нему</h6>
        <h3> Интересные факты о рекламе</h3>
        <ul>
            <li>
                Ежегодно в мире на рекламу тратится более $500 миллиардов.
            </li>
            <li>
                К 65 годам человек в среднем успевает посмотреть 2 миллиона рекламных роликов
            </li>
            <li>
                Обычный ребенок смотрит в среднем 40 000 рекламных ТВ-роликов в год. Это более 100 роликов в день
            </li>
            <li>
                Ученые Йоркского университета установили, что американские фармацевтические компании тратят на рекламу в два раза больше денежных средств, чем на исследования
            </li>
            <li>
                В 2013 году стоимость 30-секундного рекламного ролика во время трансляции Супер Боул (финальная игра за звание чемпиона НФЛ США) составила $3 миллиона.
            </li>
            <li>

                Самой дорогой в истории политической рекламы кампанией стали выборы президента США в 2008 году — $2.6 миллиарда. Барак Обама потратил $310 миллионов, а Джон Маккейн — $136 миллионов

            </li>
            <li>
                Считается, что первыми показала гомосексуалистов в рекламе IKEA. В 1994 году бренд запустил ролик, в котором пара мужчин бродила по магазину, выбирая мебель
            </li>
            <li>
                Стандартный рекламный щит был впервые создан в Америке в 1900 году. Тогда же придумали устанавливать билборды чередой вдоль улиц и магистралей
            </li>
            <li>
                В 2000 году затраты США на интернет-рекламу составляли $8.1 миллиардов. Прогноз на 2013 год — $42 миллиарда
            </li>
            <li>
                В 1938 году доход от рекламы на радио превысил доход от рекламы в печатных изданиях
            </li>
        </ul>
    </div>

